.navbar-side{
  background-color: $primary-color;
}

.nav-body{
  >li{
    >a{
      color: inherit;
      font-size: 1.25em;
    }
    >a:hover{
      text-decoration: none;
    }
  }
  >li:hover{
    background-color: $nav-link-active;
    cursor: pointer;
  }
  >.active{
    background-color: $nav-link-active;
    color: inherit;
    border-right: $secondary-color solid 4px;
  }
}
