// Base
@import "1_base/colors";
@import "1_base/vars";
// Layout
@import "2_layout/sidebar";
@import "2_layout/header";
@import "2_layout/list-entry";
// Style
@import "3_style/sidebar";
@import "3_style/header";
//---------

body {
  color: $primary-text-color;
  background-color: $background;
}
form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
}