// Base
@import "1_base/colors";
@import "1_base/vars";
// Layout
@import "2_layout/sidebar";
@import "2_layout/header";
@import "2_layout/list-entry";
// Style
@import "3_style/sidebar";
@import "3_style/header";
@import "3_style/list-entry";
//---------

body {
  color: $primary-text-color;
  background-color: $background;
}
.list-header{

  display:flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;


}